<h1>მოგესალმებით!</h1>

<p>
ეს არის არქივის პროგრამის საწყისი გვერდი. ამ პროგრამის დახმარებით შეგიძლიათ
ეძებოთ წიგნები არქივში ან მისცეთ არქივის თანამშრომელს დავალება ამა
თუ იმ წიგნის ძებნაზე.
</p>

<p>
ვინაიდან ამ პროგრამისთვის არანაირი დოკუმენტაცია არ არსებობს,
გთხოვთ, კითხვებით მიმართოთ არქივის თანამშრომელს <b>ეკატერინე ჯვებენავას (7765)</b>
ან ამ პროგრამის ავტორს <b>დიმიტრი ყურაშვილს (7868)</b>.
</p>
