<!-- მოქმედებების სია -->
<div class="action">
<% if @parent -%>
<%= link_to 'ახალი თარო', new_place_path(:parent_id => @parent.id), :class => 'folder_add' %> &middot;
<%= link_to 'ახალი წიგნი', new_book_path(:parent_id => @parent.id), :class => 'book_add' %> &middot;
<%= link_to 'წიგნების დალაგება', reorder_path(:parent_id => @parent.id), :class => 'order_items' %>
<% else -%>
<%= link_to 'ახალი თარო', new_place_path, :class => 'folder_add' %>
<% end %>
</div>